.btnAdd {
   width: 30%;
   height: 40px;
   border: 1px solid #dcdce6;
   border-radius: 8px;
   background-color: #59a2ad;
   color: #fff;
   cursor: pointer;
   font: 800 10px "Lato", sans-serif;
}

.btnAdd:hover {
   opacity: 0.9;
}
.textInput{
   height: 40px;
   color: #5c5c5c;
   border: 1px solid #dcdce6;
   border-radius: 8px;
   padding: 0 24px;
   margin-right: 10px;
}